*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Color Pallet */

:root {
  --color-primary: #e58f00;
  --color-secondary: #fff;
  --color-accent: #e7e6e6;
  --color-transperent: #28282d;
  --color-background: #1d1d23;
  --color-footer: #35353b;
}

/* Typography */

html {
  font-size: 62.5%;
}

@font-face {
  font-family: "aachen_btroman";
  src: url("/Fonts/aachenn-webfont.woff2") format("woff2"),
    url("/Fonts/aachenn-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: 3rem;
  color: var(--color-secondary);
  font-family: aachen_btroman;
  line-height: 1.1;
  background-color: var(--color-background);
}

h1 {
  font-size: 6.5rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

.paragraph-secondary {
  font-size: 2.5rem;
}

.paragraph-detailed {
  font-size: 1.6rem;
}

.heading-primary {
  color: var(--color-primary);
}

.heading-secondary {
  color: var(--color-secondary);
}

/* Grid */

.grid {
  display: grid;
}

.grid__1x2 {
  grid-template-columns: repeat(2, auto);
  column-gap: 3rem;
}

.grid__1x3 {
  grid-template-columns: repeat(3, auto);
  column-gap: 3rem;
}

.grid__2x3 {
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, auto);
  row-gap: 3rem;
  column-gap: 3rem;
}

.grid__image {
  width: 100%;
  max-height: auto;
}

/* List */

.list {
  list-style: none;
}

.list__inline {
  display: flex;
}

.list__item {
  padding-right: 3rem;
  text-transform: uppercase;
}

/* Icons */

.icon {
  padding-right: 3rem;
}

/* Links */

a {
  text-decoration: none;
  color: var(--color-secondary);
}

/* Buttons */

.btn {
  padding: 2rem 3rem;
  border-radius: 7px;
  outline: 0;
  border: 0;
}

.btn__primary {
  background-color: var(--color-primary);
  color: var(--color-transperent);
}
