*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Color Pallet */

:root {
  --color-primary: #e58f00;
  --color-secondary: #fff;
  --color-accent: #e7e6e6;
  --color-transperent: #28282d;
  --color-background: #1d1d23;
  --color-footer: #35353b;
}

/* Container */

.container {
  max-width: 80vw;
  margin: 0 auto;
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}

@media screen and (min-width: 1600px) {
  .container {
    max-width: 1400px;
  }
}

/* Blocks */

.block {
  margin-bottom: 10rem;
}

/* Typography */

html {
  font-size: 62.5%;
}

@font-face {
  font-family: "aachen_btroman";
  src: url("/Fonts/aachenn-webfont.woff2") format("woff2"),
    url("/Fonts/aachenn-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: 3rem;
  color: var(--color-secondary);
  font-family: aachen_btroman;
  line-height: 1.1;
  background-color: var(--color-background);
}

h1 {
  font-size: 6.5rem;
  margin-bottom: 4rem;
}

h2 {
  font-size: 5rem;
  margin-bottom: 3rem;
}

h3 {
  font-size: 3rem;
  margin-bottom: 2.5rem;
}

h4 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

.paragraph-secondary {
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
}

.paragraph-detailed {
  font-size: 1.6rem;
  margin-bottom: 2rem;
}

.heading-primary {
  color: var(--color-primary);
}

.heading-secondary {
  color: var(--color-secondary);
}

/* Grid */

.grid {
  display: grid;
  justify-content: center;
  align-items: center;
}

.grid__1x2 {
  grid-template-columns: repeat(2, 1fr);
  column-gap: 3rem;
}

.grid__1x3 {
  grid-template-columns: repeat(3, auto);
  column-gap: 3rem;
}

.grid__2x3 {
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, auto);
  row-gap: 3rem;
  column-gap: 3rem;
}

.grid__image {
  width: 100%;
  max-height: auto;
}

/* Background Image */

.bg-image {
  background-repeat: no-repeat;
  width: 100%;
}

/* List */

.list {
  list-style: none;
  padding: 3rem 0rem;
  margin: 0;
}

.list__inline {
  display: flex;
}

.list__item {
  padding: 1.5rem;
  text-transform: uppercase;
}

/* Icons */

.icon {
  padding-right: 3rem;
}

/* Links */

a {
  text-decoration: none;
  color: var(--color-secondary);
}

/* Buttons */

.btn {
  padding: 2rem 3rem;
  border-radius: 7px;
  outline: 0;
  white-space: nowrap;
  cursor: pointer;
}

.btn__primary {
  background-color: var(--color-primary);
  color: var(--color-transperent);
}

/* Navigation Bar */

.nav {
  font-size: 1.6rem;
  width: 100%;
  justify-content: space-between;
  max-width: 1600px;
  margin: 0 auto;
}

.nav__logo {
  padding: 0 15%;
}

.nav .list {
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1400px) {
  .nav {
    max-width: 900px;
  }
}

/* Hero Section */

.background-hero {
  background: linear-gradient(rgba(40, 40, 45, 0.8), rgba(40, 40, 45, 0.8)),
    url(/Images/Background.png);
  background-size: cover;
}

.hero {
  padding: 10rem 0;
}

@media screen and (min-height: 800px) {
  .hero {
    padding: 15rem 0;
  }
}

/* Feature Block */

.feature-bg {
  background: url(/Images/feature\ block.svg);
  height: 120vw;
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.feature-content {
  width: 50rem;
  height: auto;
  position: absolute;
  top: 25%;
  left: 15%;
}

.feature-image {
  width: 60%;
  height: auto;
  position: absolute;
  bottom: 9rem;
  right: -1%;
  transform: rotateZ(35deg);
}

.feature-image-woffle {
  width: 50%;
  height: auto;
  position: absolute;
  right: -23%;
}

.feature-image-egg {
  width: 40%;
  height: auto;
  position: absolute;
  left: -5%;
  bottom: 5%;
}
