<!-- Feature Block -->

<section class="block block__feature">
  <div class="bg-image feature-bg">
    <img
      class="feature-image-waffle"
      src="/Images/waffle without tray.png"
      alt="A plate of waffle and fruits"
    />
    <div class="feature-content">
      <h2 class="heading-secondary">Our Food Quality</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Quis ipsum
        suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan
        lacus vel facilisis.
      </p>
    </div>
    <img
      class="feature-image"
      src="/Images/egg and toasts.png"
      alt="A plate of fried egg and toast with coffe"
    />
    <img
      class="feature-image-egg"
      src="/Images/egg and fruits.png"
      alt="A plate of boiled egg and fruits"
    />
  </div>
</section>
