<!-- Footer Section -->

<section class="footer">
  <div class="container">
    <img class="footer__logo" src="/Images/Logo/Footer Logo.png" alt="Logo" />
    <div class="footer__list">
      <ul class="list list__inline">
        <li class="list__item"><a href="#">Home</a></li>
        <li class="list__item"><a href="#">About Us</a></li>
        <li class="list__item"><a href="#">Services</a></li>
        <li class="list__item"><a href="#">Foods</a></li>
        <li class="list__item"><a href="#">Contact</a></li>
        <li class="list__item"><a href="#">Location</a></li>
      </ul>
    </div>
    <div class="icon__social-media">
      <img class="icon" src="/Icons/facebook.png" alt="Facebook Icon" />
      <img class="icon" src="/Icons/Tweeter.png" alt="Tweeter Icon" />
      <img class="icon" src="/Icons/instagram.png" alt="Instagram Icon" />
      <img class="icon" src="/Icons/pinterest.png" alt="Pinterest Icon" />
    </div>
  </div>
</section>
