<!-- Gallery Block -->

<section class="container block block-gallery">
  <h2 class="heading-secondary">Our Food Gallery</h2>
  <div class="grid grid__2x3">
    <img
      class="grid__image gallery-image"
      src="/Images/Gallery Grid/Image 1.png"
      alt="Breakfast set 1"
    />
    <img
      class="grid__image gallery-image"
      src="/Images/Gallery Grid/Image 2.png"
      alt="Breakfast set 2"
    />
    <img
      class="grid__image gallery-image"
      src="/Images/Gallery Grid/Image 3.png"
      alt="Breakfast set 3"
    />
    <img
      class="grid__image gallery-image"
      src="/Images/Gallery Grid/Image 4.png"
      alt="Breakfast set 4"
    />
    <img
      class="grid__image gallery-image"
      src="/Images/Gallery Grid/Image 5.png"
      alt="Breakfast set 5"
    />
    <img
      class="grid__image gallery-image"
      src="/Images/Gallery Grid/Image 6.png"
      alt="Breakfast set 6"
    />
  </div>
</section>
