<!-- Hero -->

<header>
  <div class="bg-image background-hero">
    <!-- Navigation Bar -->
    <nav class="nav">
      <ul class="list list__inline">
        <li class="list__item"><a href="#">Home</a></li>
        <li class="list__item"><a href="#">About</a></li>
        <li class="list__item"><a href="#">Menus</a></li>
        <li class="list__item"><a href="#">Offer</a></li>
        <img src="/Images/Logo/Logo.png" alt="logo" class="nav__logo" />
        <li class="list__item"><a href="#">Gallary</a></li>
        <li class="list__item"><a href="#">Contact</a></li>
        <li class="list__item"><a href="#">Blog</a></li>
      </ul>
    </nav>

    <!-- Hero Content -->
    <div class="container hero">
      <div class="grid grid__1x2">
        <img src="/Images/woffle.png" alt="Breakfast Set" class="grid__image" />
        <div class="grid__content">
          <h2 class="heading-primary">Contact Us For Best Breakfast</h2>
          <p class="paragraph-secondary">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna.
          </p>
          <div>
            <button class="btn btn__primary">Contact Us</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
