<!-- Menu Section -->
<section class="container block block__menu">
  <h2 class="heading-secondary">Our Menu</h2>
  <div class="grid grid__1x3">
    <!-- Menu 1 -->

    <div class="menu">
      <img
        class="menu__image"
        src="/Images/Feature Menu/menu 1.png"
        alt="Pouring Coffe in a cup"
      />
      <h3 class="heading-primary">Blcak Coffe</h3>
      <p class="paragraph-detailed">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Quis ipsum
        suspendisse.
      </p>
      <h4 class="heading-primary">Price: $7</h4>
    </div>
    <!-- Menu 2 -->

    <div class="menu">
      <img
        class="menu__image"
        src="/Images/Feature Menu/menu 2.png"
        alt="Pouring Coffe in a cup"
      />
      <h3 class="heading-primary">ITALIAN SOURCE MUSHROOM</h3>
      <p class="paragraph-detailed">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Quis ipsum
        suspendisse.
      </p>
      <h4 class="heading-primary">Price: $12</h4>
    </div>
    <!-- Menu 3 -->

    <div class="menu">
      <img
        class="menu__image"
        src="/Images/Feature Menu/menu 3.png"
        alt="Pouring Coffe in a cup"
      />
      <h3 class="heading-primary">Fruit Waffle</h3>
      <p class="paragraph-detailed">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Quis ipsum
        suspendisse.
      </p>
      <h4 class="heading-primary">Price: $10</h4>
    </div>
  </div>
</section>
