<!-- Showcase Section -->

<section class="block block__showcase">
  <div class="container">
    <div class="showcase__group grid grid__1x2">
      <img
        class="showcase__image grid__image"
        src="/Images/egg and fruits.png"
        alt="A plate of boiled egg and fruits"
      />
      <div class="showcase__content">
        <h2 class="heading-secondary">Enjoy Best Meal</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna
        </p>
      </div>
    </div>
  </div>
</section>
